body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.calculator {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}

.calculator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    135deg,
    rgba(0, 230, 118, 0.3),
    rgba(0, 230, 118, 0.1)
  );
  z-index: 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #00e676;
  position: relative;
  z-index: 1;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  z-index: 1;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
  color: #333;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #00e676;
  outline: none;
}

button {
  background: #00e676;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

button:hover {
  background: #00c853;
}

button:active {
  transform: scale(0.95);
}

.result {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.result h2 {
  font-size: 1.5rem;
  color: #00e676;
}

.result p {
  font-size: 1.2rem;
  color: #333;
}
